{% block head %}
	<meta charset="utf-8">
	<title>Hello, world!</title>
{% end %}

{% block header %}
	<div id="header">
		<img id="logo" src="https://raw.github.com/mywaiting/appstack/master/appstack/applications/assets/images/logo.png">
	</div>
{% end %}

{% block container %}
	<div id="container">
		<h1>Hello, world!</h1>
		<p>If you get this page, you successfully intsalled appstack. Enjoy your code!</p>
		<p>Our project is opensource <a href="https://github.com/mywaiting/appstack">here</a>.</p>
	</div>
{% end %}

{% block footer %}
	<div id="footer">
		<p>&copy; <a href="https://github.com/mywaiting/appstack">appstack</a>.</p>
	</div>
{% end %}

